.jumbotron{
    background-color: #eee;
}

table{
    text-align: center;
}

#totalMonthly{
    text-align: right;
}

.redText{
    color: red;
}

#employeeTable, #addEmployeeDiv{
    background-color: #eee;
}